<!--Navbae-->
<app-navbar></app-navbar>

<!--Calendar-->

<!--Le recensioni-->
<div class="prenota row mt-6 w-100" *ngIf="reviews">
  <div class="col-10">
    <h1 class="justify-content-center text-white">Le tue recensioni</h1>
    <div class="card" style="width: 18rem">
      <img class="card-img-top" src="assets/47774.png" alt="Card image cap" />
      <div class="card-body">
        *ngFor="let review of reviews"
        <p class="card-text">
          {{ review.descrizione }}
          {{ reviews.valutazione }}
        </p>
      </div>
    </div>
  </div>
</div>

<!--Footer-->
<app-footer></app-footer>
