<!--Navbae-->
<app-navbar></app-navbar>

<div class="container mt-2">
  <h1>Benvenuto, {{ this.user.nome }}</h1>

  <legend class="mt-3">I tuoi appuntamenti:</legend>
  <!--Calendar-->
  <app-calendar
    *ngIf="user"
    [barberId]="this.user.id"
    class="mt-4 p-3"
  ></app-calendar>

  <!--Le recensioni-->
  <!--Recensioni-->
  <h2 *ngIf="reviews && reviews.length">Cosa pensano di te</h2>
  <div class="row mt-6 mb-5 recensioni" *ngIf="reviews && reviews.length">
    <div class="col-4" *ngFor="let review of reviews">
      <mat-card class="example-card">
        <mat-card-title-group>
          <img mat-card-sm-image src="assets/47774.png" alt="Card image" />
        </mat-card-title-group>
        <mat-card-content>
          <div class="card-body">
            <p class="card-text" style="color: black">
              <b>voto:</b> {{ review.valutazione }}/5
            </p>
            <p class="card-text" style="color: black">
              <b>descrizione:</b> {{ review.descrizione }}
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<!--Footer-->
<app-footer></app-footer>
