<!--Navbae-->
<app-navbar></app-navbar>

<!--Calendar-->

<!--Le recensioni-->
<!--Recensioni-->
<div class="row mt-6 mb-5 recensioni" *ngIf="reviews">
  <div class="col-4">
    <h1>Le nostre recensioni</h1>
    <div class="card" style="width: 18rem" *ngFor="let review of reviews">
      <img class="card-img-top" src="assets/47774.png" alt="Card image cap" />
      <div class="card-body">
        <p class="card-text" style="color: black">
          <b>voto:</b> {{ review.valutazione }}
        </p>
        <p class="card-text" style="color: black">
          {{ review.descrizione }}
        </p>
      </div>
    </div>
  </div>
</div>

<!--Footer-->
<app-footer></app-footer>
