.card {
  max-width: 200px;
  background-color: rgb(234, 230, 217);
  margin-right: 15%;
}

.card-img-top {
  max-width: 50%;
  margin-left: 20%;
  margin-top: 5px;
}

.little-logo {
  max-width: 50px;
}

.hidden-link:hover {
  text-decoration: none;
}

h1 {
  text-align: center;
}

.cardRow {
  margin-top: 2%;
  margin-bottom: 5%;
}
