.little-logo {
  max-width: 50px;
}

.hidden-link:hover {
  text-decoration: none;
}

h1 {
  text-align: center;
}

.example-card {
  max-width: 300px;
  margin-bottom: 8px;
  background-color: rgb(234, 230, 217);
}
