<!--Navbar-->
<app-navbar></app-navbar>

<!--Copertina-->
<div class="container-fluid custom-margin main-page-wrapper">
  <div class="row justify-content-center">
    <div class="col-12 p-0">
      <img
        class="copertina pc-only"
        src="assets/copertina.jpg"
        alt="immagine di copertina"
      />
      <img
        class="copertina mobile-only"
        src="assets/copertina-mobile.jpg"
        alt="immagine di copertina"
      />
      <img class="logo" src="assets/logo-white.png" alt="logo" />
    </div>
  </div>

  <!--Chi siamo-->
  <div class="row mt-4 identita">
    <div class="col-sm-12 col-md-4 mb-3 mt-3" id="chisiamo">
      <h1>Chi siamo</h1>
      <p>
        Elegante, in stile vintage e tutto dedicato a lui, questo barbiere offre
        servizi di taglio barba e capelli nonché pulizia e maschera viso. Un
        team esperto e creativo sarà a tua disposizione per donare alla tua
        chioma e alla tua bella barba uno stile totalmente personalizzato!
      </p>
    </div>
    <div class="col-8 justify-content-center">
      <div class="grid-container">
        <div class="grid-item1"></div>
        <div class="grid-item2"></div>
        <div class="grid-item3"></div>
        <div class="grid-item4"></div>
      </div>
    </div>
  </div>

  <!--Prenota-->
  <div class="row mt-5 mb-5">
    <div class="col-10 offset-1">
      <h3 style="color: wheat; text-align: center">
        PRENDI IL TUO APPUNTAMENTO
      </h3>
      <app-prenotazione [isHome]="true"> </app-prenotazione>
    </div>
  </div>

  <!--Recensioni-->
  <div class="recensioni" *ngIf="reviews">
    <h1>Le nostre recensioni</h1>
    <div class="row">
      <div class="col-4" *ngFor="let review of reviews">
        <mat-card class="example-card">
          <mat-card-title-group>
            <img mat-card-sm-image src="assets/47774.png" alt="Card image" />
          </mat-card-title-group>
          <mat-card-content>
            <div class="card-body">
              <p class="card-text" style="color: black">
                <b>voto:</b> {{ review.valutazione }}
              </p>
              <p class="card-text" style="color: black">
                <b>descrizione:</b> {{ review.descrizione }}
              </p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<!--FOOTER-->
<app-footer></app-footer>
