<!--Navbar-->
<app-navbar></app-navbar>

<!--Copertina-->
<div class="container-fluid custom-margin main-page-wrapper">
  <div class="row justify-content-center">
    <div class="col-12 p-0">
      <img
        class="copertina pc-only"
        src="assets/copertina.jpg"
        alt="immagine di copertina"
      />
      <img
        class="copertina mobile-only"
        src="assets/copertina-mobile.jpg"
        alt="immagine di copertina"
      />
      <img class="logo" src="assets/logo-white.png" alt="logo" />
    </div>
  </div>

  <!--Chi siamo-->
  <div class="row mt-4 identita">
    <div class="col-4 mb-3 mt-3" id="chisiamo">
      <h1>Chi siamo</h1>
      <p>
        Elegante, in stile classico e tutto dedicato a lui, questo barbiere
        offre servizi di taglio barba e capelli nonché pulizia e maschera viso.
        Un team esperto e creativo sarà a tua disposizione per donare alla tua
        chioma e alla tua bella barba uno stile totalmente personalizzato!
      </p>
    </div>
    <div class="col-8">
      <div class="grid-container">
        <div class="grid-item1"></div>
        <div class="grid-item2"></div>
        <div class="grid-item3"></div>
        <div class="grid-item4"></div>
      </div>
    </div>
  </div>

  <!--Prenota-->
  <div class="prenota row mt-6 w-100 mb-5">
    <div class="col-10">
      <div class="form-group">
        <h3 style="color: wheat; text-align: center; margin-left: 25%">
          PRENDI IL TUO APPUNTAMENTO
        </h3>
      </div>
      <app-prenotazione> </app-prenotazione>
    </div>
  </div>

  <!--Recensioni-->
  <div class="prenota row mt-6 w-100" *ngIf="reviews">
    <div class="col-10">
      <h1 class="justify-content-center text-white">Le nostre recensioni</h1>
      <div class="card" style="width: 18rem">
        <img class="card-img-top" src="assets/47774.png" alt="Card image cap" />
        <div class="card-body">
          *ngFor="let review of reviews"
          <p class="card-text">
            {{ review.descrizione }}
            {{ reviews.valutazione }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--FOOTER-->
<app-footer></app-footer>
