<!--navbar-->
<app-navbar></app-navbar>

<div class="container">
  <div class="row mt-2">
    <h1 class="mt-2">Benvenuto, {{ this.user.nome }}</h1>
  </div>
  <br />
  <div class="row align-items-center">
    <div class="row">
      <h4 class="mr-2">Notifiche:</h4>
      <div>
        <mat-slide-toggle
          (change)="notify()"
          [(ngModel)]="isChecked"
        ></mat-slide-toggle>
      </div>
    </div>
    <!--disabilita notifiche-->

    <!--elimina profilo-->
    <div class="div col-6" *ngIf="canDelete">
      <h3>Elimina il tuo profilo</h3>
      <div>
        <button mat-raised-button (click)="openDialogUtente(user)">
          Elimina profilo
        </button>
      </div>
    </div>
  </div>

  <!--Table Orders-->
  <div class="row">
    <div class="col-12 mb-3 mt-5">
      <app-table [data]="orders">
        <ng-template #headers>
          <th>Indirizzo</th>
          <th></th>
          <th>Prodotti</th>
        </ng-template>
        <ng-template #rows let-row>
          <!--indirizzo-->
          <td>
            {{ row.destinatario.via }},{{ row.destinatario.numeroCivico }},
            {{ row.destinatario.citta }}, {{ row.destinatario.cap }}
          </td>
          <td></td>
          <!--prodotti-->
          <td>
            <button
              mat-icon-button
              mat-raised-button
              (click)="openDialogProdotti(row.prodotti)"
            >
              <mat-icon>shopping_cart</mat-icon>
            </button>
          </td>
        </ng-template>
      </app-table>
    </div>
  </div>
</div>

<!--footer-->
<app-footer></app-footer>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
