<!--navbar-->
<app-navbar></app-navbar>

<div class="container">
  <div class="row mt-2">
    <h1 class="mt-2">Benvenuto, {{this.user.nome}}</h1>
  </div>
  <br>
  <div class="row align-items-center">
    <!--disabilita notifiche-->
    <h4 class="mr-2">Notifiche</h4>
    <div>
      <mat-slide-toggle></mat-slide-toggle>
    </div>
  </div>
  <br>
  <!--elimina profilo-->
  <div
    class="row"
    *ngIf="!isAdmin"
  >
    <h3>Elimina il tuo profilo</h3>
    <div>
      <button
        mat-raised-button
        (click)="openDialog(user)"
      >
        Elimina profilo
      </button>
    </div>
  </div>

  <!--Table Orders-->
  <div class="row">
    <div class="col-12 mb-3 mt-5">
      <app-table [data]="orders">
        <ng-template #headers>
          <th>Indirizzo</th>
          <th></th>
          <th>Prodotti</th>
        </ng-template>
        <ng-template
          #rows
          let-row
        >
          <!--indirizzo-->
          <td>
            {{ row.destinatario.via }},{{ row.destinatario.numeroCivico }},
            {{ row.destinatario.citta }}, {{ row.destinatario.cap }}
          </td>
          <td></td>
          <!--prodotti-->
          <td>
            {{ row.prodotti }}
          </td>
        </ng-template>
      </app-table>
    </div>
  </div>
</div>

<!--footer-->
<app-footer></app-footer>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>