<div class="container">
  <!--filtri per la table-->
  <div class="d-flex w-100 justify-content-between">
    <select
      class="form-control role-filter"
      [(ngModel)]="activeFilter"
      (change)="applyActiveFilter()"
    >
      <option [value]="FilterOptions.All">Tutti</option>
      <option [value]="FilterOptions.Barbers">Barbieri</option>
      <option [value]="FilterOptions.Admins">Aministratori</option>
    </select>
    <div class="d-flex align-items-center">
      <span class="text-white">Ordina barbieri per ranking</span>
      <mat-slide-toggle
        class="ml-2"
        (change)="barberRanking()"
        [(ngModel)]="isChecked"
      ></mat-slide-toggle>
    </div>
  </div>
  <!--Table-->
  <app-table [data]="tableData" class="table">
    <ng-template #headers>
      <th>Nome</th>
      <th>Cognome</th>
      <th>Mail</th>
      <th>Ruolo</th>
      <th>Elimina</th>
    </ng-template>
    <ng-template #rows let-row>
      <td>{{ row.nome }}</td>
      <td>{{ row.cognome }}</td>
      <td>{{ row.mail }}</td>
      <td>{{ row.role | roleName }}</td>
      <td>
        <button
          *ngIf="!loadingUsers; else loader"
          mat-icon-button
          color="warn"
          (click)="deleteUser(row)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-template>
  </app-table>

  <!--Registra parrucchieri-->
  <!--Content-->
  <div class="row mt-5">
    <div class="col-lg-4 col-sm-4">
      <form [formGroup]="barbersForm" (ngSubmit)="addBarber()">
        <legend>Registra Barbieri</legend>
        <!--nome-->
        <div class="form-group">
          <label>Nome:</label><strong>* </strong>
          <input
            formControlName="nome"
            class="form-control"
            type="text"
            placeholder="Nome"
          />
          <!--check nome-->
          <div
            *ngIf="
              barbersForm &&
              barbersForm.controls['nome'].invalid &&
              (barbersForm.controls['nome'].dirty ||
                barbersForm.controls['nome'].touched)
            "
            class="form-error"
          >
            <div
              *ngIf="barbersForm && barbersForm.controls['nome'].errors?.['required']"
            >
              inserisci il enome
            </div>
          </div>
        </div>
        <!--cognome-->
        <div class="form-group">
          <label>Cognome:</label>
          <input
            formControlName="cognome"
            class="form-control"
            type="text"
            placeholder="Cognome"
          />
        </div>
        <!--email-->
        <div class="form-group">
          <label>Email:</label><strong>* </strong>
          <input
            formControlName="mail"
            class="form-control"
            type="email"
            placeholder="Email"
          />
          <!--check email-->
          <div
            *ngIf="
              barbersForm &&
              barbersForm.controls['mail'].invalid &&
              (barbersForm.controls['mail'].dirty ||
                barbersForm.controls['mail'].touched)
            "
            class="form-error"
          >
            <div
              *ngIf="barbersForm && barbersForm.controls['mail'].errors?.['required']"
            >
              inserisci l' email
            </div>
          </div>
        </div>
        <!--password-->
        <div class="form-group">
          <label>Password:</label><strong>* </strong>
          <input
            [type]="changetype ? 'password' : 'text'"
            formControlName="password"
            class="form-control"
            type="password"
            placeholder="Password (min 5 caratteri)"
          />
          <span class="eye" (click)="show()">
            <mat-icon>remove_red_eye</mat-icon>
          </span>
          <!--check password-->
          <div
            *ngIf="
              barbersForm &&
              barbersForm.controls['password'].invalid &&
              (barbersForm.controls['password'].dirty ||
                barbersForm.controls['password'].touched)
            "
            class="form-error"
          >
            <div
              *ngIf="barbersForm.controls['password'] && barbersForm.controls['password'].errors?.['required']"
            >
              inserisci la password
            </div>
            <div
              *ngIf="barbersForm.controls['password'] && barbersForm.controls['password'].errors?.['minLenght']"
            >
              la password deve essere lunga 5 caratteri
            </div>
          </div>
        </div>
        <!--confPassword-->
        <div class="form-group">
          <label>Conferma Password:</label><strong>* </strong>
          <input
            [type]="changetype2 ? 'password' : 'text'"
            formControlName="confPassword"
            class="form-control"
            type="password"
            placeholder="Conferma Password"
          />
          <span class="eye" (click)="show2()">
            <mat-icon>remove_red_eye</mat-icon>
          </span>
          <!--check confPassword-->
          <div
            *ngIf="
              barbersForm &&
              barbersForm.controls['confPassword'].invalid &&
              (barbersForm.controls['confPassword'].dirty ||
                barbersForm.controls['confPassword'].touched)
            "
            class="form-error"
          >
            <div
              *ngIf="barbersForm.controls['confPassword'] && barbersForm.controls['confPassword'].errors?.['required']"
            >
              inserisci la password
            </div>
            <div
              *ngIf="barbersForm.controls['confPassword'] && barbersForm.controls['confPassword'].errors?.['minLenght']"
            >
              la password deve essere lunga 5 caratteri
            </div>
          </div>
        </div>
        <button
          *ngIf="!loadingBarbers; else loader"
          type="submit"
          class="btn btn-dark"
          [disabled]="!this.barbersForm.valid"
        >
          Crea
        </button>
      </form>
    </div>

    <!--Registra admin-->
    <div class="col-lg-4 col-sm-4 offset-3">
      <form
        [formGroup]="adminsForm"
        (ngSubmit)="addAdmin()"
        class="form"
        name="form"
      >
        <legend>Registra Admin</legend>
        <!--nome-->
        <div class="form-group">
          <label>Nome:</label>
          <input
            formControlName="nome"
            class="form-control"
            type="text"
            placeholder="Nome"
          />
        </div>
        <!--cognome-->
        <div class="form-group">
          <label>Cognome:</label>
          <input
            formControlName="cognome"
            class="form-control"
            type="text"
            placeholder="Cognome"
          />
        </div>
        <!--email-->
        <div class="form-group">
          <label>Email:</label><strong>* </strong>
          <input
            formControlName="mail"
            class="form-control"
            type="email"
            placeholder="Email"
          />
          <!--check email-->
          <div
            *ngIf="
              adminsForm &&
              adminsForm.controls['mail'].invalid &&
              (adminsForm.controls['mail'].dirty ||
                adminsForm.controls['mail'].touched)
            "
            class="form-error"
          >
            <div
              *ngIf="adminsForm && adminsForm.controls['mail'].errors?.['required']"
            >
              inserisci l' email
            </div>
          </div>
        </div>
        <!--password-->
        <div class="form-group">
          <label>Password:</label><strong>* </strong>
          <input
            [type]="changetype ? 'password' : 'text'"
            formControlName="password"
            class="form-control"
            type="password"
            placeholder="Password (min 5 caratteri)"
          />
          <span class="eye" (click)="show()">
            <mat-icon>remove_red_eye</mat-icon>
          </span>
          <!--check password-->
          <div
            *ngIf="
              adminsForm &&
              adminsForm.controls['password'].invalid &&
              (adminsForm.controls['password'].dirty ||
                adminsForm.controls['password'].touched)
            "
            class="form-error"
          >
            <div
              *ngIf="adminsForm.controls['password'] && adminsForm.controls['password'].errors?.['required']"
            >
              inserisci la password
            </div>
            <div
              *ngIf="adminsForm.controls['password'] && adminsForm.controls['password'].errors?.['minLenght']"
            >
              la password deve essere lunga 5 caratteri
            </div>
          </div>
        </div>
        <!--confPassword-->
        <div class="form-group">
          <label>Conferma Password:</label><strong>* </strong>
          <input
            [type]="changetype2 ? 'password' : 'text'"
            formControlName="confPassword"
            class="form-control"
            type="password"
            placeholder="Conferma Password"
          />
          <span class="eye" (click)="show2()">
            <mat-icon>remove_red_eye</mat-icon>
          </span>
          <!--check confPassword-->
          <div
            *ngIf="
              adminsForm &&
              adminsForm.controls['confPassword'].invalid &&
              (adminsForm.controls['confPassword'].dirty ||
                adminsForm.controls['confPassword'].touched)
            "
            class="form-error"
          >
            <div
              *ngIf="adminsForm && adminsForm.controls['confPassword'].errors?.['required']"
            >
              inserisci la password
            </div>
            <div
              *ngIf="adminsForm && adminsForm.controls['confPassword'].errors?.['minLength']"
            >
              la password deve essere lunga 5 caratteri
            </div>
          </div>
        </div>
        <button
          *ngIf="!loadingAdmins; else loader"
          type="submit"
          class="btn btn-dark"
          [disabled]="!this.adminsForm.valid"
        >
          Crea
        </button>
      </form>
    </div>
  </div>
  <div>
    <small
      >I campi contrassegnati da un asterisco rosso (*) sono obbligatori</small
    >
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
