.card {
  width: 100%;
  margin-top: 10px;
}

.title {
  text-transform: uppercase;
}

.img {
  margin-left: 30%;
  width: 40%;
}

#quantity {
  margin-left: 35%;
  width: 30%;
}

.zoom {
  margin: 50px;
  transition: 1.2s ease;
}
.zoom:hover {
  transform: scale(1.8);
}
