<!--navbar-->
<app-navbar> </app-navbar>

<!--delete prenotazione-->
<div class="container">
  <h1>CANCELLA LA TUA PRENOTAZIONE</h1>
  <div class="row card-body">
    <div class="col">
      <mat-card class="card">
        <mat-card-title class="title">Vuoi davvero cancellare questa prenotazione?</mat-card-title>
        <mat-card-actions class="button">
          <button
            mat-button
            (click)="deletePrenotazione()"
            *ngIf="!loading;else loader"
          >
            ELIMINA
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<!--footer-->
<app-footer></app-footer>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>