.demo-inline-calendar-card {
  width: 300px;
  margin-top: 30px;
  margin-left: 20px;
}

.image {
  background-image: url("/assets/ffbb4c_f514d18f2e9c4445a399f88f6bf03c11_mv2.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
