<!--form-->
<form [formGroup]="bookingForm" (ngSubmit)="prenota()">
  <div class="prenotazione-container">
    <!--NOME-->
    <div class="col-4" style="margin-top: 5%">
      <div class="form-group">
        <label for="customer-name">Nome</label><strong>*</strong>
        <input
          type="text"
          class="form-control"
          id="nome"
          placeholder="Nome"
          required
          formControlName="nome"
        />
        <!--Check Nome-->
        <div
          *ngIf="
            bookingForm &&
            bookingForm.controls['nome'].invalid &&
            (bookingForm.controls['nome'].dirty ||
              bookingForm.controls['nome'].touched)
          "
          class="form-error"
        >
          <div
            *ngIf="bookingForm && bookingForm.controls['nome'].errors?.['required']"
          >
            inserisci il nome
          </div>
        </div>
      </div>
      <!--EMAIL-->
      <div class="form-group">
        <label for="customer-mail">Email</label><strong>*</strong>
        <input
          type="email"
          formControlName="mail"
          class="form-control"
          id="mail"
          placeholder="Email"
          required
        />
        <!--check Email-->
        <div
          *ngIf="
            bookingForm &&
            bookingForm.controls['mail'].invalid &&
            (bookingForm.controls['mail'].dirty ||
              bookingForm.controls['mail'].touched)
          "
          class="form-error"
        >
          <div
            *ngIf="bookingForm && bookingForm.controls['mail'].errors?.['required']"
          >
            inserisci l'email
          </div>
        </div>
      </div>
      <!--LISTA BARBIERI-->
      <div>
        <label for="customer-name">Barbiere</label>
        <select
          class="form-control"
          [(ngModel)]="barbiere"
          [ngModelOptions]="{ standalone: true }"
        >
          <option *ngFor="let barber of barbers" [ngValue]="barber">
            {{ barber.nome }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-4" *ngIf="barbiere">
      <!---->
      <div class="d-flex w-100 justify-content-center">
        <!--CALENDAR-->
        <mat-card class="demo-inline-calendar-card">
          <mat-calendar
            [(selected)]="giornoSelezionato"
            (selectedChange)="onChangeData($event)"
            [minDate]="minDate"
            [dateFilter]="calendarDatesFilter"
          >
          </mat-calendar>
        </mat-card>
      </div>
      <!--ORAIO-->
      <div class="orario" *ngIf="orari">
        <label for="customer-name">Orari</label>
        <select
          class="form-control"
          id="orario"
          [(ngModel)]="periodoSelezionato"
          [ngModelOptions]="{ standalone: true }"
        >
          <option *ngFor="let periodo of orari" [ngValue]="periodo">
            {{ periodo[0] }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-4 mt-4">
      <!--TRATTAMENTI-->
      <div class="form-group">
        <app-table [data]="treatments" class="table">
          <ng-template #headers>
            <th></th>
            <th>Trattamento</th>
            <th>Prezzo</th>
          </ng-template>
          <ng-template #rows let-row>
            <td>
              <mat-checkbox
                class="treatment"
                [name]="row.nome"
                (change)="onTreatmentChecked($event.checked, row)"
              >
              </mat-checkbox>
            </td>
            <td>{{ row.nome }}</td>

            <td>{{ row.prezzo | currency: "EUR" }}</td>
          </ng-template>
        </app-table>
      </div>
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-dark"
    id="prenota-taglio"
    *ngIf="!loadingRes; else loader"
    [disabled]="
      !this.bookingForm.valid ||
      !this.barbiere ||
      !this.giornoSelezionato ||
      !this.periodoSelezionato
    "
  >
    Prenota
  </button>
</form>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
