<div class="container">
  <!--Add Prodotto-->
  <div class="row mt-4">
    <div class="col-lg-5 col-sm-5">
      <form [formGroup]="productsForm" (ngSubmit)="addProdotto()">
        <legend>Aggiungi Prodotto</legend>
        <!--nome-->
        <div class="form-group">
          <label>Nome:</label><strong>*</strong>
          <input
            formControlName="nome"
            class="form-control"
            type="text"
            name="nome"
            placeholder="Nome"
          />
          <!--check nome-->
          <div
            *ngIf="
              productsForm &&
              productsForm.controls['nome'].invalid &&
              (productsForm.controls['nome'].dirty ||
                productsForm.controls['nome'].touched)
            "
            class="form-error"
          >
            <div *ngIf="productsForm.controls['nome'].errors?.['required']">
              inserisci il nome
            </div>
          </div>
        </div>
        <!--prezzo-->
        <div class="form-group">
          <label>Prezzo:</label><strong>*</strong>
          <input
            formControlName="prezzo"
            class="form-control"
            type="text"
            name="Prezzo"
            placeholder="Prezzo"
          />
          <!--check prezzo-->
          <div
            *ngIf="
              productsForm &&
              productsForm.controls['prezzo'].invalid &&
              (productsForm.controls['prezzo'].dirty ||
                productsForm.controls['prezzo'].touched)
            "
            class="form-error"
          >
            <div *ngIf="productsForm.controls['prezzo'].errors?.['required']">
              inserisci il prezzo
            </div>
          </div>
        </div>
        <!--descrizione-->
        <div class="form-group">
          <label>Descrizione:</label>
          <textarea
            formControlName="descrizione"
            name="descrizione"
            rows="5"
            cols="30"
            placeholder="Descrizione"
          >
          </textarea>
        </div>
        <!--file_img-->
        <div style="color: white">
          <input
            formControlName="immagine"
            class="form-control"
            type="file"
            id="formFile"
            name="file"
            accept="image/png, image/jpeg"
            (change)="convertImage($event)"
          />
        </div>
        <button
          *ngIf="!loadingProds; else loader"
          type="submit"
          class="btn btn-dark mt-2"
          [disabled]="!this.productsForm.valid"
        >
          Aggiungi
        </button>
      </form>
    </div>
    <!--Table Delete and Modify Prodotto-->
    <div class="col-lg-7 col-sm-7 mb-3 mt-5" id="prodotti" *ngIf="products">
      <app-table [data]="products">
        <ng-template #headers>
          <th>Nome</th>
          <th>Descrizione</th>
          <th>Prezzo</th>
          <th></th>
          <th>Elimina</th>
          <th>Modifica</th>
        </ng-template>
        <ng-template #rows let-row>
          <td>{{ row.nome }}</td>
          <td>{{ row.descrizione }}</td>
          <td>{{ row.prezzo | currency: "EUR" }}</td>
          <td></td>
          <td>
            <button
              *ngIf="!loadingProds; else loader"
              mat-icon-button
              color="warn"
              (click)="deleteProdotto(row.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
          <td>
            <button mat-icon-button mat-raised-button (click)="openDialog(row)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-template>
      </app-table>
    </div>
  </div>

  <!--Add trattamento-->
  <div class="row mt-4">
    <div class="col-lg-5 col-sm-5 mt-3">
      <form [formGroup]="treatmentsForm" (ngSubmit)="addTrattamento()">
        <legend>Aggiungi Trattamento</legend>
        <!--nome-->
        <div class="form-group">
          <label>Nome:</label><strong>*</strong>
          <input
            formControlName="nome"
            class="form-control"
            type="text"
            name="nome"
            placeholder="Nome"
          />
          <!--check nome-->
          <div
            *ngIf="
              treatmentsForm &&
              treatmentsForm.controls['nome'].invalid &&
              (treatmentsForm.controls['nome'].dirty ||
                treatmentsForm.controls['nome'].touched)
            "
            class="form-error"
          >
            <div *ngIf="treatmentsForm.controls['nome'].errors?.['required']">
              inserisci il nome
            </div>
          </div>
        </div>
        <!--prezzo-->
        <div class="form-group">
          <label>Prezzo:</label><strong>*</strong>
          <input
            formControlName="prezzo"
            class="form-control"
            type="text"
            name="Prezzo"
            placeholder="Prezzo"
          />
          <!--check prezzo-->
          <div
            *ngIf="
              treatmentsForm &&
              treatmentsForm.controls['prezzo'].invalid &&
              (treatmentsForm.controls['prezzo'].dirty ||
                treatmentsForm.controls['prezzo'].touched)
            "
            class="form-error"
          >
            <div *ngIf="treatmentsForm.controls['prezzo'].errors?.['required']">
              inserisci il prezzo
            </div>
          </div>
        </div>
        <!--durata-->
        <div class="form-group">
          <label>Durata:</label>
          <input
            formControlName="durata"
            class="form-control"
            type="number"
            name="durata"
            placeholder="durata"
          />
        </div>
        <button
          *ngIf="!loadingTreats; else loader"
          type="submit"
          class="btn btn-dark"
          [disabled]="!this.treatmentsForm.valid"
        >
          Aggiungi
        </button>
      </form>
    </div>
    <!--Table Delete and Modify Trattamento-->
    <div class="col-lg-7 col-sm-7 mb-3 mt-5" id="trattamenti">
      <app-table [data]="treatments">
        <ng-template #headers>
          <th>Nome</th>
          <th>Prezzo</th>
          <th>Durata</th>
          <th></th>
          <th>Elimina</th>
          <th>Modifica</th>
        </ng-template>
        <ng-template #rows let-row>
          <td>{{ row.nome }}</td>
          <td>{{ row.prezzo | currency: "EUR" }}</td>
          <td>{{ row.durata }} min</td>
          <td></td>
          <td>
            <button
              *ngIf="!loadingTreats; else loader"
              mat-icon-button
              color="warn"
              (click)="deleteTreatment(row.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
          <td>
            <button
              mat-icon-button
              mat-raised-button
              (click)="openDialog2(row)"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-template>
      </app-table>
    </div>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
