textarea {
  width: 100%;
  border-color: rgb(29, 29, 29);
}

legend {
  color: wheat;
}

#file {
  margin-bottom: 10px;
}
.image-preview {
  width: 40%;
  height: 40%;
  object-fit: contain;
}
label {
  color: rgb(251, 251, 251);
}

strong {
  color: #820000;
}

small {
  color: rgb(251, 251, 251);
}
