<!--Navbar-->
<app-navbar></app-navbar>

<!--riepilogo acquisti-->
<div class="row justify-content-center">
  <div class="col-5 p-1">
    <h2 style="text-align: center">Acquisti</h2>
    <div class="col">
      <table *ngIf="carrello.length">
        <thead>
          <th class="ml-2"><u>Prodotto</u></th>
          <th><u>Prezzo</u></th>
        </thead>
        <tbody>
          <tr *ngFor="let item of carrello">
            <td>{{ item.title }}</td>
            <td>{{ item.reservation_items[0].price | currency: "EUR" }}</td>
          </tr>
        </tbody>
        <tr>
          <td colspan="2" class="carrello text-center">
            Totale: {{ totale | currency: "EUR" }}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<br /><br />

FORM
<div class="row ml-3">
  <div class="col-10">
    <h5 class="p-3 title">info ordine</h5>
    <form [formGroup]="form" (ngSubmit)="ordine()">
      <div class="form-group">
        <mat-form-field appearance="standard">
          <mat-label>Scegli data di consegna</mat-label>
          <input matInput [matDatepicker]="picker" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <br />
        <label>Orario consenga:</label>
        <input
          type="time"
          class="form-control"
          placeholder="orario"
          formControlName="time"
        />

        <label>Città:</label>
        <input
          type="text"
          class="form-control"
          placeholder="città"
          formControlName="city"
        />

        <label>Indirizzo:</label>
        <input
          type="text,number"
          class="form-control"
          placeholder="indirizzo"
          formControlName="address"
        />

        <label>Piano:</label>
        <input
          type="number"
          class="form-control"
          placeholder="piano"
          formControlName="floor"
        />

        <label>note:</label>
        <input
          type="textarea"
          class="form-control"
          placeholder="text..."
          formControlName="note"
        />
      </div>
      <button
        type="submit"
        class="btn btn-varning bg-warning"
        style="border-color: gray; margin-left: 50%"
      >
        Invia
      </button>
    </form>
  </div>
</div>
-->

<!--Footer-->
<app-footer></app-footer>
