h1 {
  color: rgb(234, 230, 217);
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

#button {
  border-color: gray;
  color: white;
  justify-content: center;
}

.shopping-cart-footer {
  font-size: large;
  font-weight: bold;
}
