<!--Navbar-->
<app-navbar></app-navbar>

<div class="container-fluid">
  <h1>I tuoi acquisti</h1>

  <!--riepilogo acquisti-->
  <div class="row">
    <div class="col-12">
      <!-- Shopping Cart-->
      <div class="table-responsive shopping-cart">
        <table class="table">
          <thead>
            <tr>
              <th>Prodotto</th>
              <th class="text-center">Quantità</th>
              <th class="text-center">Prezzo</th>
              <th class="text-center">Subtotalale</th>
              <th class="text-right">
                <button
                  class="btn btn-sm btn-outline-danger"
                  (click)="onClearCart($event)"
                >
                  pulisci carrello
                </button>
              </th>
            </tr>
          </thead>

          <tbody *ngIf="items.length; else noItemsInCart">
            <tr *ngFor="let item of items">
              <td>
                <div class="product-item">
                  <a
                    class="product-thumb"
                    routerLink="/products/{{ item.product.id }}"
                  >
                    <img [src]="item.product.immagine" alt="Product" />
                  </a>
                  <div class="product-info">
                    <h4 class="product-title">
                      <a routerLink="/products/{{ item.product.id }}">{{
                        item.product.nome
                      }}</a>
                    </h4>
                  </div>
                </div>
              </td>
              <td class="text-center">
                <div class="count-input">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button
                        class="btn btn-outline-secondary"
                        type="button"
                        (click)="decreaseAmount(item)"
                      >
                        -
                      </button>
                    </div>
                    <input
                      type="text"
                      class="form-control text-center"
                      placeholder=""
                      [(ngModel)]="item.amount"
                      (blur)="checkAmount(item)"
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn-outline-secondary"
                        type="button"
                        (click)="increaseAmount(item)"
                      >
                        +
                      </button>
                    </div>
                  </div>
                </div>
              </td>
              <td class="text-center text-lg text-medium">
                {{ item.product.prezzo | currency }}
              </td>
              <td class="text-center text-lg text-medium">
                {{ item.product.prezzo * item.amount | currency }}
              </td>
              <td class="text-right">
                <a
                  class="remove-from-cart"
                  href="#"
                  data-toggle="tooltip"
                  title="Remove item"
                  (click)="onRemoveItem($event, item)"
                >
                  <span class="material-icons md-light">chiudi</span>
                </a>
              </td>
            </tr>
          </tbody>

          <ng-template #noItemsInCart>
            <tbody>
              <tr>
                <td colspan="5">Non ci sono prodotti nel tuo carrello..</td>
              </tr>
            </tbody>
          </ng-template>
        </table>
      </div>

      <div class="shopping-cart-footer">
        <div class="column"></div>
        <div class="column text-lg text-white">
          Totale:
          <span class="text-medium">{{ total | currency }}</span>
        </div>
      </div>

      <!--FORM-->
      <div class="col-3">
        <form [formGroup]="form" (ngSubmit)="ordina()">
          <div class="form-group">
            <label>Città:</label>
            <input
              type="text"
              class="form-control"
              placeholder="città"
              formControlName="city"
            />
            <label>Indirizzo:</label>
            <input
              type="text"
              class="form-control"
              placeholder="indirizzo"
              formControlName="indirizzo"
            />
          </div>
          <div class="col-3" *ngIf="indirizzi">
            <h3>i tuoi indirizzi</h3>
            <div *ngFor="let indirizzo of indirizzi">
              <select>
                {{
                  indirizzo.id
                }}
              </select>
            </div>
          </div>
          <button type="submit" class="btn" id="button">Ordina</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Footer-->
<app-footer></app-footer>
