<!--Navbar-->
<app-navbar></app-navbar>

<div class="container-fluid">
  <h1>I tuoi acquisti</h1>

  <!--riepilogo acquisti-->
  <div class="row">
    <div class="col-12">
      <!-- Shopping Cart-->
      <div class="table-responsive shopping-cart">
        <table class="table">
          <thead>
            <tr>
              <th>Product Name</th>
              <th class="text-center">Quantity</th>
              <th class="text-center">Price</th>
              <th class="text-center">Subtotal</th>
              <th class="text-right">
                <button
                  class="btn btn-sm btn-outline-danger"
                  (click)="onClearCart($event)"
                >
                  Clear Cart
                </button>
              </th>
            </tr>
          </thead>

          <tbody *ngIf="items.length; else noItemsInCart">
            <tr *ngFor="let item of items">
              <td>
                <div class="product-item">
                  <a
                    class="product-thumb"
                    routerLink="/products/{{ item.product.id }}"
                  >
                    <img [src]="item.product.immagine" alt="Product" />
                  </a>
                  <div class="product-info">
                    <h4 class="product-title">
                      <a routerLink="/products/{{ item.product.id }}">{{
                        item.product.nome
                      }}</a>
                    </h4>
                    <!-- <span>
                      <em>Size:</em> 10.5</span>
                    <span>
                      <em>Color:</em> Dark Blue</span> -->
                  </div>
                </div>
              </td>
              <td class="text-center">
                <div class="count-input">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button
                        class="btn btn-outline-secondary"
                        type="button"
                        (click)="decreaseAmount(item)"
                      >
                        -
                      </button>
                    </div>
                    <input
                      type="text"
                      class="form-control text-center"
                      placeholder=""
                      [(ngModel)]="item.amount"
                      (blur)="checkAmount(item)"
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn-outline-secondary"
                        type="button"
                        (click)="increaseAmount(item)"
                      >
                        +
                      </button>
                    </div>
                  </div>
                </div>
              </td>
              <td class="text-center text-lg text-medium">
                {{ item.product.prezzo | currency }}
              </td>
              <td class="text-center text-lg text-medium">
                {{ item.product.prezzo * item.amount | currency }}
              </td>
              <td class="text-right">
                <a
                  class="remove-from-cart"
                  href="#"
                  data-toggle="tooltip"
                  title="Remove item"
                  (click)="onRemoveItem($event, item)"
                >
                  <span class="material-icons md-light">close</span>
                </a>
              </td>
            </tr>
          </tbody>

          <ng-template #noItemsInCart>
            <tbody>
              <tr>
                <td colspan="5">There are no items in your cart..</td>
              </tr>
            </tbody>
          </ng-template>
        </table>
      </div>

      <div class="shopping-cart-footer">
        <div class="column">
          <!-- <form class="coupon-form" method="post">
            <input class="form-control form-control-sm" type="text" placeholder="Coupon code" required>
            <button class="btn btn-outline-primary btn-sm" type="submit">Apply Coupon</button>
          </form> -->
        </div>
        <div class="column text-lg">
          Total:
          <span class="text-medium">{{ total | currency }}</span>
        </div>
      </div>
      <div class="shopping-cart-footer">
        <div class="column">
          <!-- <a class="btn btn-primary" href="#" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check"
            data-toast-title="Your cart" data-toast-message="is updated successfully!">Update Cart</a> -->
          <a class="btn btn-success" routerLink="/checkout">Checkout</a>
        </div>
      </div>

      <!--
      <app-table *ngIf="items" [data]="items.prodotto">
        <ng-template #headers>
          <th></th>
          <th>Prodotto</th>
          <th>Prezzo</th>
          <th>Quantità</th>
          <th>Elima Prodotto</th>
        </ng-template>
        <ng-template #rows let-row>
          <th>{{ row.immagine }}</th>
          <td>{{ row.nome }}</td>
          <td>{{ row.prezzo | currency: "EUR" }}</td>
          <!--  <td>{{ carrello.countTot }}</td>
          <td (click)="deletElement(row.id)">
            <i class="fa-solid fa-trash-can"></i>
          </td>
        </ng-template>
      </app-table>
      <h2 class="text-white">Totale: {{ total | currency: "EUR" }}</h2>
      <button (click)="onClearCart($event)">pulisci carrello</button>
    </div>
 -->
      <!--FORM-->
      <div class="col-3">
        <form [formGroup]="form" (ngSubmit)="ordina()">
          <div class="form-group">
            <label>Città:</label>
            <input
              type="text"
              class="form-control"
              placeholder="città"
              formControlName="city"
            />
            <label>Indirizzo:</label>
            <input
              type="text"
              class="form-control"
              placeholder="indirizzo"
              formControlName="indirizzo"
            />
          </div>
          <div class="col-3" *ngIf="indirizzi">
            <h3>i tuoi indirizzi</h3>
            <div *ngFor="let indirizzo of indirizzi">
              <select>
                {{
                  indirizzo.id
                }}
              </select>
            </div>
          </div>
          <button type="submit" class="btn" id="button">Ordina</button>
        </form>
      </div>
    </div>
  </div>

  <!--Footer-->
  <app-footer></app-footer>
</div>
