<div class="mt-5 px-5">
    <div class="selectors-wrapper">
        <ng-container [ngTemplateOutlet]="segmentSelector" [ngTemplateOutletContext]="{$implicit: 'Calendario'}">
        </ng-container>
        <ng-container [ngTemplateOutlet]="segmentSelector"
            [ngTemplateOutletContext]="{$implicit: 'Prodotti/Trattamenti'}"></ng-container>
        <ng-container [ngTemplateOutlet]="segmentSelector" [ngTemplateOutletContext]="{$implicit: 'Utenti'}">
        </ng-container>
    </div>
</div>

<ng-template #segmentSelector let-label>
    <div class="selector" [ngClass]="{'selected': label === this.currentPage}" (click)="emitChangePage($event)">
        <span>{{label}}</span>
    </div>
</ng-template>