table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}

thead {
  background: rgba(73, 62, 32, 0.5) !important;
  padding: 5px 15px;
  color: white;
  border-radius: 15px;
}
