<!--Modifica trattamento-->
<div>
  <div mat-dialog-actions class="dialog">
    <form id="form" (ngSubmit)="modifyTreatment()" [formGroup]="modifyForm">
      <legend>Modifica Trattamento</legend>
      <!--nome-->
      <div class="form-group">
        <label>nome:</label>
        <input
          formControlName="nome"
          class="form-control"
          type="text"
          name="nome"
          placeholder="Nome"
        />
      </div>
      <!--prezzo-->
      <div class="form-group">
        <label>prezzo:</label>
        <input
          formControlName="prezzo"
          class="form-control"
          type="number"
          name="Prezzo"
          placeholder="Prezzo"
        />
      </div>
      <!--durata-->
      <div class="form-group">
        <label>durata:</label>
        <input
          formControlName="durata"
          class="form-control"
          type="number"
          name="durata"
          placeholder="durata"
        />
      </div>
      <button mat-button mat-dialog-close>No</button>
      <button mat-button mat-dialog-close cdkFocusInitial type="submit">
        Ok
      </button>
    </form>
  </div>
</div>
