<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-expand-md navbar-expand-sm">
  <img
    class="navbar-logo ml-lg-3 mr-lg-3 ml-sm-3 mlr-sm-3"
    src="assets/logo-white.png"
    alt="logo"
    id="navbar-logo"
  />

  <div class="navbar-collapse">
    <ul class="navbar-nav mr-auto border-bottom">
      <li class="nav-item active">
        <a class="nav-link navbar-text" [routerLink]="['']">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link navbar-text" [routerLink]="['/shop']">Shop</a>
      </li>
      <li class="nav-item active" *ngIf="user && isAdmin">
        <a class="nav-link navbar-text" [routerLink]="['/admin']"
          >Area amministratore</a
        >
      </li>
      <li class="nav-item active" *ngIf="user">
        <a class="nav-link navbar-text" [routerLink]="['/user']">
          <mat-icon style="color: white">perm_identity</mat-icon>
        </a>
      </li>
      <li class="nav-item active" *ngIf="user && isBarber">
        <a class="nav-link navbar-text" [routerLink]="['/responsible']"
          >Area responsabile</a
        >
      </li>
    </ul>

    <div class="h-100 d-flex align-items-center justify-content-around">
      <span [matBadge]="items.length" matBadgeSize="small" matBadgeColor="warn">
        <span
          class="material-icons clickable text-white text-sm"
          [routerLink]="['/cart']"
        >
          shopping_cart
        </span>
      </span>
      <button
        type="button"
        class="btn btn-link text-white"
        [routerLink]="['/login']"
        *ngIf="!user; else logged"
      >
        Login
      </button>
    </div>

    <ng-template #logged class="clickable">
      <div class="ml-3 d-flex align-items-center">
        <span
          class="material-icons clickable text-white text-sm"
          (click)="logout()"
        >
          logout
        </span>
      </div>
    </ng-template>
  </div>
</nav>
