<!--Modifica prodotto-->
<div>
  <div mat-dialog-actions class="dialog">
    <form id="form" (ngSubmit)="modifyProdotto()" [formGroup]="modifyForm">
      <legend>Modifica Prodotto</legend>
      <!--nome-->
      <div class="form-group">
        <label>nome:</label>
        <input
          formControlName="nome"
          class="form-control"
          type="text"
          name="nome"
          placeholder="Nome"
        />
      </div>
      <!--prezzo-->
      <div class="form-group">
        <label>prezzo:</label>
        <input
          formControlName="prezzo"
          class="form-control"
          type="text"
          name="Prezzo"
          placeholder="Prezzo"
        />
      </div>
      <!--descrizione-->
      <div class="form-group">
        <p>descrizione:</p>
        <textarea
          formControlName="descrizione"
          name="descrizione"
          rows="5"
          cols="30"
          placeholder="Descrizione"
        >
        </textarea>
      </div>
      <!--file_img-->
      <div style="color: white">
        <label>immagine:</label>
        <input
          formControlName="file"
          type="file"
          id="file"
          name="file"
          accept="image/png, image/jpeg"
        />
      </div>
      <button mat-button mat-dialog-close>No</button>
      <button mat-button mat-dialog-close cdkFocusInitial type="submit">
        Ok
      </button>
    </form>
  </div>
</div>
