<!--FOOTER-->
<footer class="footer text-white text-lg-start">
  <div class="p-4">
    <div class="row">
      <div class="col-12 col-md-4 p-1">
        <ul>
          <ol>
            Via Vitruvio 44 Roma (RM) 20124
          </ol>
          <ol>
            Chiamaci 320 448 5897
          </ol>
          <ol>
            srivici una mail nabilben87@hotmail.com
          </ol>
          <ol>
            Aperti dal lunedì alla domenica 09:00-18:30
          </ol>
        </ul>
      </div>

      <div class="col-12 col-md-4 text-center">
        <h5 class="text-uppercase mb-0">Ci trovi su:</h5>
        <ul class="list-unstyled">
          <li>
            <a
              href="https://www.facebook.com/Matt-barber-shop-711951539003465/?ti=as"
              target="_blank"
              class="circle-facebook"
            >
            </a>
            <span class="clickable">facebook</span>
          </li>
          <li>
            <a
              href="https://www.instagram.com/matt_barber_shop/"
              target="_blank"
              class="circle-instagram"
            >
            </a>
            <span class="clickable">instagram</span>
          </li>
        </ul>
      </div>
      <!--Maps-->
      <div class="col-12 col-md-4">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11909.496065737898!2d12.2895961!3d41.7340249!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf0b31e0906e27186!2sMatt%20barber%20shop!5e0!3m2!1sit!2sit!4v1611783575279!5m2!1sit!2sit"
          width="100%"
          height="150px"
          frameborder="0"
          style="border: 0"
          allowfullscreen=""
          aria-hidden="false"
          tabindex="0"
        ></iframe>
      </div>
    </div>
  </div>
  <div
    class="text-center p-3"
    style="background-color: rgba(78, 52, 32, 0.799)"
  >
    © 2022 Copyright:
  </div>
</footer>