<!--Navbar-->
<app-navbar></app-navbar>

<div class="container">
  <h1>I nostri prodotti</h1>

  <button (click)="clearCart()">Svuota carrello</button>
  <br>
  <div class="row">
    <!--Shop_space-->
    <div
      *ngFor="let prodotto of products"
      class="col-4"
    >
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>{{ prodotto.nome }}</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          {{ prodotto.descrizione }}
        </mat-card-content>
        <span class="color-green font-weight-bold">{{
          prodotto.prezzo | currency: "EUR"
          }}</span>
        <mat-card-actions>
          <button
            mat-button
            (click)="addToCart(prodotto)"
          >Acquista</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<div class="footer">
  <!--Footer-->
  <app-footer></app-footer>
</div>