<!--Navbar-->
<app-navbar></app-navbar>

<!--Shop_space-->
<div *ngFor="let prodotto of products" class="col-6 p-3">
  <div class="row">
    <div class="col-12">
      <div class="custom-prodotto">
        <div class="row">
          <div class="col-10 card-body pt-2">
            <h6 class="card-text font-weight-bold">{{ prodotto.nome }}</h6>
            <p>{{ prodotto.descrizione }}</p>
            <span class="color-green font-weight-bold">{{
              prodotto.reservation_items[0].prezzo | currency: "EUR"
            }}</span>
          </div>
          <div class="col-2">
            <div class="menu-bottone rounded-pill text-center">
              <button onclick="addTocart(prodotto)">+</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Footer-->
  <app-footer></app-footer>
</div>
