<!--form di login-->
<div
  class="container-fluid login-page-container"
  style="background-color: #343530"
>
  <div class="row h-100">
    <!--immagine-->
    <div class="col-5 cover"></div>
    <!--form-->
    <div class="col-7">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="user_card">
          <div class="d-flex justify-content-center">
            <div class="brand_logo_container">
              <img src="/assets/logo-white.png" class="brand_logo" alt="Logo" />
            </div>
          </div>
          <span class="material-icons clickable" [routerLink]="['']">
            arrow_back
          </span>
          <div class="d-flex justify-content-center form_container">
            <form name="form" [formGroup]="form" (ngSubmit)="login()">
              <!--email-->
              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text"
                    ><i class="fas fa-user"></i
                  ></span>
                </div>
                <input
                  type="text"
                  name="email"
                  class="form-control input_user"
                  placeholder="email"
                  formControlName="email"
                />
              </div>
              <!--password-->
              <div class="input-group mb-2">
                <div class="input-group-append">
                  <span class="input-group-text"
                    ><i class="fas fa-key"></i
                  ></span>
                </div>
                <div class="example-container">
                  <input
                    [type]="changetype ? 'password' : 'text'"
                    name="password"
                    class="form-control input_user"
                    placeholder="password"
                    formControlName="password"
                    id="password"
                  />
                  <span class="eye" (click)="show()">
                    <i
                      [ngClass]="visible ? 'fa fa-eye' : 'fa fa-eye-slash'"
                    ></i>
                  </span>
                </div>
              </div>

              <div class="d-flex justify-content-center mt-3 login_container">
                <button type="submit" name="button" class="btn login_btn">
                  Login
                </button>
              </div>
            </form>
          </div>

          <div class="mt-4">
            <div class="d-flex justify-content-center links">
              <p style="color: black">Non hai un account?</p>
              <a
                [routerLink]="['/sign-up']"
                routerLinkActive="router-link-active"
                class="ml-2"
                style="color: black"
                >Registrati</a
              >
            </div>
            <div class="d-flex justify-content-center links">
              <a style="color: black">Password dimenticata?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--show password-->
<script>
  function show() {
    var x = document.getElementById("password");
    var y = document.getElementById("hide1");
    var z = document.getElementById("hide2");

    if (x.type === "password") {
      x.type = "text";
      y.style.display = "block";
      z.style.display = "none";
      console.log(x);
    } else {
      x.type = "password";
      y.style.display = "none";
      z.style.display = "block";
    }
  }
</script>
