/* Import Google Fonts (Maven Pro) */
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900");

/* COPERTINA - NAVBAR */
/*Mobile*/
@import "material-icons/iconfont/material-icons.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

/* all */
*,
::after,
::before {
  font-family: "Maven Pro";
}

@media only screen and (max-width: 992px) {
  .mobile-only {
    display: block;
  }
  .pc-only {
    display: none;
  }
  .copertina {
    width: 100%;
  }
  .logo {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 30%;
  }
  /*PC*/
}
@media only screen and (min-width: 992px) {
  .mobile-only {
    display: none;
  }
  .pc-only {
    display: block;
  }
  .copertina {
    width: 100%;
  }
  .logo {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 15%;
  }
}

/*NAVBAR*/
.navbar-logo {
  max-width: 75px;
}

.navbar {
  background: rgba(73, 62, 32, 0.5) !important;
  font-family: "Maven Pro", "Times New Roman", Times, serif;
  height: 80px;
  transition: 0, 5s ease;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
}

.navbar ul li a {
  transition: all ease 0, 5s;
}

.navbar ul li a:hover {
  background-color: #211b4385;
}

.navbar.scrolled {
  background: black !important;
}

/*Text decoration */
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
}

label {
  color: white;
}

h1 {
  font-family: "Maven Pro", fantasy;
}

/*CHI SIAMO*/
.identita h1 {
  color: wheat;
  font-family: "Maven Pro", fantasy;
}

.identita p {
  color: white;
}

/*GRID PHOTO*/
.grid-container {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  grid-template-areas:
    "area1 area1 area1 area2 area2 area2 area3 area3 area3 area4 area4 area4"
    "area1 area1 area1 area2 area2 area2 area3 area3 area3 area4 area4 area4";
}

.grid-item1 {
  background-image: url("assets/0c0bf35b7687f4de66abe5e482ef3776--barbershop-ideas-barbershop-design.jpg");
  text-align: center;
  border: black 5px solid;
  grid-area: area1;
  height: 150%;
}

.grid-item2 {
  background-image: url("assets/51259655-fare-taglio-di-capelli-look-perfetto-giovane-uomo-con-la-barba-ottenere-taglio-di-capelli-dal-parruc.webp");
  text-align: center;
  border: black 5px solid;
  grid-area: area2;
  height: 150%;
}
.grid-item3 {
  background-image: url("assets/cura-e-taglio-capelli.jpg");
  text-align: center;
  border: black 5px solid;
  grid-area: area3;
  height: 150%;
  background-size: cover;
}

.grid-item4 {
  background-image: url("assets/pennelli-da-barba-rasatura-youbarber.jpg");
  text-align: center;
  border: black 5px solid;
  grid-area: area4;
  height: 150%;
  background-size: cover;
}

/*PRENOTA*/
.prenota {
  margin-top: 80px;
}

/*LOGIN*/
.cover {
  background-image: url("assets/vintage-barbershop-poster_225004-793.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/*REGISTRAZIONE*/
.cover2 {
  height: 100%;
  background-image: url(/assets/sfondo.jpg);
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-position: center;
}

.cover__caption2 {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}

.cover__caption__copy2 {
  display: table-cell;
  vertical-align: middle;
}

.forms {
  margin-top: 25%;
}

.forms button {
  margin-left: 59%;
}

.form-group2 {
  width: 300%;
  margin-left: 150%;
}

.clickable:hover {
  cursor: pointer;
}

/*FOOTER*/
.footer {
  background-color: rgba(137, 93, 56, 0.799);
  margin-top: 5px;
}

.footer ol {
  padding: 4px;
  text-align: center;
}

/*ICONS*/
.fa {
  padding: 12px;
  font-size: 12px;
  width: 45px;
  text-align: center;
  text-decoration: none;
  margin: 5px 15px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-instagram {
  background: #b10d36;
  color: white;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Maven Pro", Roboto, "Helvetica Neue", sans-serif;
}

th {
  padding: 1em;
}

td {
  padding: 1em;
  background: #ddd;
  border-bottom: 2px solid white;
}
