<!--form di login-->
<div class="container-fluid login-page-container" style="background-color: #343530">
  <div class="row h-100">
    <!--immagine-->
    <div class="col-5 cover"></div>

    <!--form-->
    <div class="col-12 col-md-7">
      <div class="d-flex justify-content-center">
        <div class="user_card">
          <div class="d-flex justify-content-center">
            <div class="brand_logo_container">
              <img src="/assets/logo-white.png" class="brand_logo" alt="Logo" />
            </div>
          </div>
          <!--torna alla login-->
          <span class="material-icons clickable" [routerLink]="['/login']">
            arrow_back
          </span>
          <div class="d-flex justify-content-center form_container">
            <form name="form" [formGroup]="form" (ngSubmit)="registration()">
              <!--email-->
              <label>Email:</label><strong>*</strong>
              <div class="input-group">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <mat-icon>email</mat-icon>
                  </span>
                </div>
                <input type="text" name="mail" class="form-control input_user" placeholder="mail"
                  formControlName="mail" />
              </div>
              <!--Nome-->
              <label>Nome:</label><strong>*</strong>
              <div class="input-group">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <mat-icon>account_circle</mat-icon>
                  </span>
                </div>
                <input type="text" name="nome" class="form-control input_user" placeholder="nome"
                  formControlName="nome" />
              </div>
              <!--password-->
              <label>Password:</label><strong>*</strong>
              <div class="input-group">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <mat-icon> vpn_key</mat-icon>
                  </span>
                </div>
                <input [type]="changetype ? 'password' : 'text'" name="password" class="form-control input_user"
                  placeholder="Password (min. 5 car.)" formControlName="password" id="password" />
                <span class="eye" (click)="show()">
                  <mat-icon>remove_red_eye</mat-icon>
                </span>
              </div>
              <!--conferma password-->
              <label>Conferma Password:</label><strong>*</strong>
              <div class="input-group">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <mat-icon> vpn_key</mat-icon>
                  </span>
                </div>
                <input [type]="changetype2 ? 'password' : 'text'" name="password" class="form-control input_user"
                  placeholder="conferma password" formControlName="confirmPassword" id="password" />
                <span class="eye" (click)="show2()">
                  <mat-icon>remove_red_eye</mat-icon>
                </span>
              </div>
              <div class="d-flex justify-content-center mt-3 login_container mt-5">
                <button type="submit" name="button" class="btn login_btn" [disabled]="!this.form.valid"
                  *ngIf="!loading; else loader">
                  Registrati
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>