<!--form di login-->
<div
  class="container-fluid login-page-container"
  style="background-color: #343530"
>
  <div class="row h-100">
    <!--immagine-->
    <div class="col-5 cover"></div>
    <!--form-->
    <div class="col-7">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="user_card">
          <div class="d-flex justify-content-center">
            <div class="brand_logo_container">
              <img src="/assets/logo-white.png" class="brand_logo" alt="Logo" />
            </div>
          </div>
          <span class="material-icons clickable" [routerLink]="['/login']">
            arrow_back
          </span>
          <div class="d-flex justify-content-center form_container">
            <form name="form" [formGroup]="form" (ngSubmit)="registration()">
              <!--email-->
              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text"
                    ><i class="fas fa-user"></i
                  ></span>
                </div>
                <input
                  type="text"
                  name="email"
                  class="form-control input_user"
                  placeholder="email"
                  formControlName="email"
                />
              </div>
              <!--password-->
              <div class="input-group mb-2" style="height: 30px">
                <div class="input-group-append">
                  <span class="input-group-text"
                    ><i class="fas fa-key"></i>
                  </span>
                </div>
                <input
                  [type]="changetype ? 'password' : 'text'"
                  name="password"
                  class="form-control input_user"
                  placeholder="password"
                  formControlName="password"
                  id="password"
                />
                <span class="eye" (click)="show()">
                  <i [ngClass]="visible ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
                </span>
              </div>
              <!--conferma password-->
              <div
                class="input-group mb-2"
                style="height: 30px; margin-top: 30px"
              >
                <div class="input-group-append">
                  <span class="input-group-text"
                    ><i class="fas fa-key"></i>
                  </span>
                </div>
                <input
                  [type]="changetype ? 'password' : 'text'"
                  name="password"
                  class="form-control input_user"
                  placeholder="conferma password"
                  formControlName="confirmPassword"
                  id="password"
                />
                <span class="eye" (click)="show()">
                  <i [ngClass]="visible ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
                </span>
                <div *ngIf="passwordMatchError">La password non è corretta</div>
              </div>
              <div
                class="d-flex justify-content-center mt-3 login_container mt-5"
              >
                <button type="submit" name="button" class="btn login_btn">
                  Registrati
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
